@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aeonik';
  src: url('../fonts/fonnts.com-Aeonik_Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Aeonik', sans-serif;
  }
}

